html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", "Roboto", "Oxygen", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
    text-decoration: none !important;
}

button {
    outline: none !important;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

